.btn-counter{
    background-color: blueviolet;
    color: aqua;

}
h2{
    color: aqua;
}
.box-dark{
    width: 100%;
    height: 40vh;
    background-color: black;
}
.box-white{
    width: 100%;
    height: 40vh;
    background-color: white;
}